<!DOCTYPE html>
<html>
    <head>
        <title>登录</title>
        <script src="../static/js/jquery-1.9.1.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>

    </head>
    <body>
        <div id="industry" style="width: 600px;height: 400px;"></div>
        <script>
            var myChart = echarts.init(document.getElementById("industry"));

            $.ajax({
                type:'get',
                url:'http://localhost:8001/stocks/industrydata/',
                data:'',
                dataType:'json',
                async:false,
                success:function (response) {
                    industry_data = response.data.result;
                    industry_name=response.data.title;
                },
                error:function (error) {

                },
            })



            option = {
                title : {
                    text: '南丁格尔玫瑰图',
                    subtext: '纯属虚构',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    x : 'center',
                    y : 'bottom',
                    data:industry_name
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel']
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'半径模式',
                        type:'pie',
                        radius : [20, 110],
                        center : ['25%', '50%'],
                        roseType : 'radius',
                        label: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        lableLine: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        data:industry_data
                    },
                    {
                        name:'面积模式',
                        type:'pie',
                        radius : [30, 110],
                        center : ['75%', '50%'],
                        roseType : 'area',
                        data:industry_data
                    }
                ]
            };

        myChart.setOption(option);


        </script>
    </body>
</html>