<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color:blue">登录,注册</h1>
    {% block page_content %}
    <h1 style="background-color:orange">主页内容</h1>
    {% endblock page_content %}
    <h1 style="background-color:purple">联系电话:1253154</h1>
</body>
</html>