<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/page4">跳转第4 页</a>
<!--<a href="/page/100">跳转第100页</a>-->
<a href="{% url 'pagen' '100' %}">跳转第100页</a>
<!--<a href="/page/999">跳转第999页</a>-->
<a href="{% url 'pagen' '999' %}">跳转第999页</a>
</body>
</html>