<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>邮件发送</title>
</head>
<body>
    <h1>欢迎使用邮件发送功能</h1>
    <form action="{% url 'user:email' %}" method="post"></form>
    <p>
        <input type="text" name="email">
    </p>
    <p>
        <input type="button" value="发送">
    </p>
</body>
</html>