<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
        $(function(){
            $("#btnJSON").click(function(){
                var obj={uname:"wang",uage:25,ugender:"男"};
                //通过JSON.stringify()将obj转化成JSON串
                var str=JSON.stringify(obj);
                console.log("转换成的值为："+str);
            });
        });
    </script>
</head>
<body>
    <button id="btnJSON">json对象－－－json串</button>
</body>
</html>