<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/common.js"></script>
    <script>
        function btnShow(){
            //1.创建xhr
            var xhr=createXhr();
            //2.创建请求(带参数)
            var url="/ajax/serverparans/?name=hello&&age=25";
            xhr.open("get",url,true);
            //3.设置回调函数
            xhr.onreadystatechange=function(){
                 if(xhr.readyState==4 && xhr.status==200){
                    document.getElementById("show").innerHTML=xhr.responseText;
                }
            }
            //4.发送请求
            xhr.send(null);
        }
    </script>
</head>
<body>
    <button onclick="btnShow()">显示</button>
    <div id="show"></div>
</body>
</html>