<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #nav li{
            float:left;
            width:100px;
            height:30px;
            line-height:30px;
            background:red;
            text-align:center;
            color:#fff;
            font-weight:bold;
            font-size:16px;
        }
        #nav{
            list-style:red;
        }
    </style>
</head>
<body>
    <h1>北京欢迎你</h1>
    <ul id="nav">
        <li>首页</li>
        <li>美食</li>
        <li>景点</li>
        <li>hello</li>
    </ul>
</body>
</html>